<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Places To Eat</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Places To Eat", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (this.User.IsInRole("Regular"))
                    {
                        <li>@Html.ActionLink("Filter Restaurants", "Index", "RestaurantFilter", new { area = "Regular" }, null)</li>
                        <li>@Html.ActionLink("Favourites", "Index", "UserFavourites", new { area = "Regular" }, null)</li>
                        <li>@Html.ActionLink("Active events", "ListEvents", "ListRegularUserEvents", new { area = "Regular" }, null)</li>
                    }
                    else if (this.User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("Categories List", "ListCategories", "ListCategories", new { area = "Administration" }, null)</li>
                    }
                    else if (this.User.IsInRole("Restaurant"))
                    {
                        <li>@Html.ActionLink("Create weekly event", "Create", "Event", new { area = "Restaurants" }, null)</li>
                        <li>@Html.ActionLink("List events", "ListEvents", "ListEvents", new { area = "Restaurants" }, null)</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (this.TempData["SuccessNotification"] != null)
        {
            <div class="alert alert-success">
                <strong>Info!</strong> @this.TempData["SuccessNotification"]
            </div>
        }
        else if (this.TempData["ErrorNotification"] != null)
        {
            <div class="alert alert-danger">
                <strong>Info!</strong> @this.TempData["ErrorNotification"]
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Places To Eat</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
