@model PlacesToEat.Web.Areas.Administration.ViewModels.ListCategories.AdministerCategoriesViewModel
@{
    ViewBag.Title = "List Categories";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ListCategories", "ListCategories", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Filter Favourites</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Search, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.Search, new { htmlAttributes = new { @class = "form-control", placeholder = "Search", id = "search" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Order, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(m => m.Order, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-info" value="Filter" />
            <a href="@Model.AddUrl" class="btn btn-info">Add</a>
        </div>
    </div>
}

<table class="table-hover table-bordered">
    <tr>
        <th class="text-center">Id</th>
        <th class="text-center">Name</th>
        <th class="text-center">Actions</th>
    </tr>
    @foreach (var category in Model.Categories)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Name</td>
            <td>
                <a href="@category.UpdateUrl" class="btn btn-success">Update</a>
                <a href="@category.DeleteUrl" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>
